body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  background-image: url(Assets/background.jpg);
  background-size: cover;
}

a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #f6eeee;
}

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
}

#logo {
  display: flex;
  align-items:center;
}

#logo h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  margin-left: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.navbar-links {
  display: flex;
  align-items: center;
}

#pic-of-the-day {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#search {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#search input[type="text"] {
  border: none;
  padding: 8px;
  font-size: 16px;
}

#search button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

#search button:hover {
  background-color: #0e0f0e;
}
#intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap-reverse;
}

.image-container {
  flex: 1;
  max-width: 100%;
  height: 800px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-container {
  flex: 1;
  margin-left: 20px;
}

.text-container p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}
#carousel {
  display: flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction: column;
  max-width: 800px;
  height: 350px;
  overflow: hidden;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}
