body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  background-image: url(Assets/background.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  padding: 20px;
}

a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #f6eeee;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
}

#logo {
  display: flex;
  align-items:center;
}

#logo h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  margin-left: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.navbar-links {
  display: flex;
  align-items: center;
}

#pic-of-the-day {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#search {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#search input[type="text"] {
  border: none;
  padding: 8px;
  font-size: 16px;
}

#search button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

#search button:hover {
  background-color: #0e0f0e;
}
#intro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.image-container {
  flex: 1;
  max-width: 50%;
  height: 500px;
  overflow: hidden;
}

.image-container iframe {
  width: 100%;
  height: 100%;
}

.text-container {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-container h1 {
  font-size: 36px;
  margin: 0;
}

.text-container p {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}
#potd {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 20px;
  flex-wrap: wrap-reverse;
}
.potd-container {
  display: flex;
  align-items: flex-start;
  height: 600px;
  overflow: hidden;
}

.potd-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-left: 20px;
  align-items: center;
  justify-content:flex-start;
  flex-wrap: wrap;
}
.info h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-bottom: 10px;
}
.info h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.info p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  color: white;
  white-space: wrap;
}
#carousel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.slide {
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  margin-right: auto;
}

.btn-next {
  margin-left: auto;
}
.search-result {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-result h2 {
  font-size: 30px;
  margin-top: 0;
}

.search-result p {
  font-size: 20px;
  color: white;
}



